<div class="container mt-4" >
    <h1>Student Table</h1>
<table class="table">
    <thead>
     <h1 *ngIf="!isResultLoaded">Loading.................</h1>      
    <tr>
        <th scope="col">Student First Name</th>
        <th scope="col">Student Last Name</th>
        <th scope="col">Date of Birth</th>  
        <th scope="col">Email</th>  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let StudentItem of StudentArray">
        <td>{{StudentItem.FirstName }}</td>
        <td>{{StudentItem.FamilyName }}</td>
        <td>{{StudentItem.DOB }}</td>
        <td>{{StudentItem.Email }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button>            
        </td>
      </tr>          
    </tbody>
  </table>
</div>
