<div class="container mt-4" >
    <div class="card">
            <h1>Course Registration</h1>
    
    <form>
    
        <div class="form-group">
          <label>Course</label>
          <input type="text" [(ngModel)]="CourseName" [ngModelOptions]="{standalone: true}" class="form-control" id="CourseName" placeholder="Enter Course Name">
        </div>
 
        <button type="submit" class="btn btn-primary mt-4" (click)="save()" >Save</button>
      
      </form>
    </div>
</div>
    
  
    
       
